*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#prabhakar{
    width: 100%;
    height: 100%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_8w7pvIVRs1zE0wGVOcQpLGsiyvMOT_xRDQ&s );
    background-size: cover;
    background-position: start;
}