*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}
body{
   background-color: black;
}
.nav1{
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   
}

.nav1 img{
   width: 200px;
   height: 70px;
   margin-top: 30px;
   margin-left: 20px;
   
}

.nav2{
   color: rgb(197, 195, 195);
   display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
  marker-end: 20px;
margin-right: 200px;
  
   gap: 20px;
}
.nav2 h5{
   display: none;
}
.nav2 h5{
   align-items: flex-start;
  
}
.nav2 h6{
   align-items: flex-end;
   justify-content: end;
   margin-left: 200px;
   
}

@media (max-width:500px) {
   nav{
      padding: 15px 30px;
   }
   .nav2 h4{
      display: none;
   }
   .nav2 h5{
      display: block;
      color: lightblue;
      font-size: 10px;
      align-items: end;
      justify-content: start;
   }
   
}